# general things to ignore
.DS_Store
tests/.DS_Store
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*~

# due to using vscode, sublime text, pytest, tox, Apple Mac OS
.vscode
*.sublime-project
*.sublime-workspace
.tox
.cache
